body{
    background-color: darkgreen;
    color: white;
    line-height:0;
}
/* #boardSetup {
    display: none;
} */

.circle{

    display: inline-block;
    border-width: 0.2vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    margin: 0.1vw;
    
    
}
